.home-container {
  max-width: 1200px;
  margin: auto;
  padding: 30px 20px;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f0f2f5;
}

.section {
  margin-bottom: 60px;
  padding: 30px;
  background: #ffffff;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  transition: all 0.3s ease;
}

.section:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.section-title {
  font-size: 26px;
  margin-bottom: 20px;
  color:rgb(84, 35, 152) !important;
  border-bottom: 2px solid #ddd;
  padding-bottom: 8px;
}

.section-subtitle {
  font-size: 22px;
  margin-bottom: 20px;
  color:rgb(89, 37, 209) !important;
  border-bottom: 1px dashed #ccc;
  padding-bottom: 6px;
}
